<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="abb">

  <xacro:arg name="prefix_1" default="r1"/>
  <xacro:property name="prefix_1" value="$(arg prefix_1)"/>

  <xacro:arg name="prefix_2" default="r2"/>
  <xacro:property name="prefix_2" value="$(arg prefix_2)"/>

  <xacro:include filename="$(find abb_irb_120_resource)/srdf/irb_120_macro.srdf.xacro"/>
  <xacro:abb_irb_120_srdf prefix='${prefix_1}'/>

  <xacro:abb_irb_120_srdf prefix='${prefix_2}'/>

  <group name="dual_abb_arm">
    <group name="${prefix_1}_abb_arm" />
    <group name="${prefix_2}_abb_arm" />
  </group>

</robot>